<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
      </style> 
    <title>Railway ticket booking</title>
    
  </head>

  <body>
      <nav class="light-blue">
          <div class="nav-wrapper">
              <a class="brand-logo">Railway Ticket Booking</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                
              <li><a href="passenger">Passenger</a></li>
              <li><a href="train">Train</a></li>
              <li><a href="station">Station</a></li>
              <li><a href="admin">Admin</a></li>
              <li><a href="clerk">CLerk</a></li>
              <li><a href="login">Logout</a></li>
          </div>
        </nav>
        <div>
            <table>
                <thead>
                  <tr>
                      <th>Train Name</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Number Of Seats</th>
                      <th>Seats Available</th>
                  </tr>
                </thead>
          <tbody>
            <% train.forEach(function(x){ %>
  
            <tr>
               <td><%= x.TNAME %></td> 
               <td><%= x.SOURCE %></td>
               <td><%= x.DEST %></td>               
               <td><%= x.TNUM %></td> 
               <td><%= x.SEATS %></td>
               <td><%= x.AVAIL_SEATS %></td>
              </tr>   
            <% }); %> 
          </tbody>
          </table>
        </div>
    
        <form class="col s12" action="/history" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input id="train number" type="number" class="validate" name="tnum">
              <label for="train number" style="color:black">Enter Train Number To Delete</label>
            </div>
          </div>
         <input type="submit" class="waves-effect waves-light  btn" name="Delete" value="Delete">
       </form>

              

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
   
  </body>
</html>