<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
      </style> 
    <title>Railway ticket booking</title>
    
  </head>

  <body>
      <nav class="light-blue">
          <div class="nav-wrapper">
              <a class="brand-logo">Railway Ticket Booking</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                
              <li><a href="passenger">Passenger</a></li>
              <li><a href="train">Train</a></li>
              <li><a href="station">Station</a></li>
              <li><a href="admin">Admin</a></li>
              <li><a href="clerk">CLerk</a></li>
              <li><a href="login">Logout</a></li>
          </div>
        </nav>
        <div>
            <table>
                <thead>
                  <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Compartment</th>
                      <th>Ticket Number</th>
                      <th>Submission Date</th>
                      <th>Submission Time</th>
                      <th>Application Number</th>
                      <th>Counter Number</th>
                      <th>User Id</th>
                      <th>Train Number</th>
                  </tr>
                </thead>
          <tbody>
            <% passengers.forEach(function(x){ %>
  
            <tr>
               <td><%= x.F_NAME %></td> 
               <td><%= x.L_NAME %></td>
               <td><%= x.COMPTMENT %>></td>
               <td><%= x.TIC_NUM %></td>
               <td><%= x.SUB_DATE %></td> 
               <td><%= x.SUB_TIME %></td>
               <td><%= x.APP_NUM %></td>
               <td><%= x.CNUM %> </td>
               <td><%= x.USER_ID %></td> 
               <td><%= x.TNUM %></td>
              </tr>
            <% }); %> 
          </tbody>
          </table>
        </div>
        <form class="col s12" action="/passhistory" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input id="ticket number" type="number" class="validate" name="ticnum">
              <label for="ticket number" style="color:black">Enter Ticket Number To Delete</label>
            </div>
          </div>
          <input type="submit" class="waves-effect waves-light  btn" name="Delete" value="Delete">
        </form>
        

              

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
   
  </body>
</html>